/* Typography Tokens */

.pc-link {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 16px;
  letter-spacing: 0%;
  text-decoration: underline;
}

.pc-heading-5 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 54px;
  letter-spacing: 0%;
}

.pc-heading-4 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 45px;
  letter-spacing: 0%;
}

.pc-heading-3 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 37px;
  letter-spacing: 0%;
}

.pc-heading-2 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 31px;
  letter-spacing: 0%;
}

.pc-heading-1 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 27px;
  letter-spacing: 0%;
}

.pc-subheading-strong-7 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 60px;
  letter-spacing: 0%;
}

.pc-subheading-strong-6 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 45px;
  letter-spacing: 0%;
}

.pc-subheading-strong-5 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 37px;
  letter-spacing: 0%;
}

.pc-subheading-strong-4 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 31px;
  letter-spacing: 0%;
}

.pc-subheading-strong-3 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 26px;
  letter-spacing: 0%;
}

.pc-subheading-strong-2 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-subheading-strong-1 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-subheading-6 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 45px;
  letter-spacing: 0%;
}

.pc-subheading-5 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 37px;
  letter-spacing: 0%;
}

.pc-subheading-4 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 31px;
  letter-spacing: 0%;
}

.pc-subheading-3 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 26px;
  letter-spacing: 0%;
}

.pc-subheading-2 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-subheading-1 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-copy-strong-5 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 24px;
  letter-spacing: 0%;
}

.pc-copy-strong-4 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-copy-strong-3 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-copy-strong-2 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 16px;
  letter-spacing: 0%;
}

.pc-copy-strong-1 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 13px;
  letter-spacing: 0%;
}

.pc-copy-5 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 24px;
  letter-spacing: 0%;
}

.pc-copy-4 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-copy-3 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-copy-2 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 16px;
  letter-spacing: 0%;
}

.pc-copy-1 {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 13px;
  letter-spacing: 0%;
}

.pc-alert {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 125%;
  font-size: 15px;
  letter-spacing: 0%;
}

.pc-meta {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 11px;
  letter-spacing: 0%;
}

.pc-meta-strong {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 11px;
  letter-spacing: 0%;
}

.pc-strikethrough {
  font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 13px;
  letter-spacing: 0%;
  text-decoration: line-through;
}

/* Typography Custom Properties */
:root {
  --pc-link-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-link-font-weight: 400;
  --pc-link-line-height: 110%;
  --pc-link-font-size: 16px;
  --pc-link-letter-spacing: 0%;
  --pc-link-text-decoration: underline;
  --pc-heading-5-font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  --pc-heading-5-font-weight: 400;
  --pc-heading-5-line-height: 120%;
  --pc-heading-5-font-size: 54px;
  --pc-heading-5-letter-spacing: 0%;
  --pc-heading-4-font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  --pc-heading-4-font-weight: 400;
  --pc-heading-4-line-height: 120%;
  --pc-heading-4-font-size: 45px;
  --pc-heading-4-letter-spacing: 0%;
  --pc-heading-3-font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  --pc-heading-3-font-weight: 400;
  --pc-heading-3-line-height: 120%;
  --pc-heading-3-font-size: 37px;
  --pc-heading-3-letter-spacing: 0%;
  --pc-heading-2-font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  --pc-heading-2-font-weight: 400;
  --pc-heading-2-line-height: 120%;
  --pc-heading-2-font-size: 31px;
  --pc-heading-2-letter-spacing: 0%;
  --pc-heading-1-font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  --pc-heading-1-font-weight: 400;
  --pc-heading-1-line-height: 120%;
  --pc-heading-1-font-size: 27px;
  --pc-heading-1-letter-spacing: 0%;
  --pc-subheading-strong-7-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-7-font-weight: 700;
  --pc-subheading-strong-7-line-height: 120%;
  --pc-subheading-strong-7-font-size: 60px;
  --pc-subheading-strong-7-letter-spacing: 0%;
  --pc-subheading-strong-6-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-6-font-weight: 700;
  --pc-subheading-strong-6-line-height: 120%;
  --pc-subheading-strong-6-font-size: 45px;
  --pc-subheading-strong-6-letter-spacing: 0%;
  --pc-subheading-strong-5-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-5-font-weight: 700;
  --pc-subheading-strong-5-line-height: 120%;
  --pc-subheading-strong-5-font-size: 37px;
  --pc-subheading-strong-5-letter-spacing: 0%;
  --pc-subheading-strong-4-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-4-font-weight: 700;
  --pc-subheading-strong-4-line-height: 120%;
  --pc-subheading-strong-4-font-size: 31px;
  --pc-subheading-strong-4-letter-spacing: 0%;
  --pc-subheading-strong-3-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-3-font-weight: 700;
  --pc-subheading-strong-3-line-height: 120%;
  --pc-subheading-strong-3-font-size: 26px;
  --pc-subheading-strong-3-letter-spacing: 0%;
  --pc-subheading-strong-2-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-2-font-weight: 700;
  --pc-subheading-strong-2-line-height: 135%;
  --pc-subheading-strong-2-font-size: 21px;
  --pc-subheading-strong-2-letter-spacing: 0%;
  --pc-subheading-strong-1-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-strong-1-font-weight: 700;
  --pc-subheading-strong-1-line-height: 135%;
  --pc-subheading-strong-1-font-size: 18px;
  --pc-subheading-strong-1-letter-spacing: 0%;
  --pc-subheading-6-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-6-font-weight: 400;
  --pc-subheading-6-line-height: 120%;
  --pc-subheading-6-font-size: 45px;
  --pc-subheading-6-letter-spacing: 0%;
  --pc-subheading-5-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-5-font-weight: 400;
  --pc-subheading-5-line-height: 120%;
  --pc-subheading-5-font-size: 37px;
  --pc-subheading-5-letter-spacing: 0%;
  --pc-subheading-4-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-4-font-weight: 400;
  --pc-subheading-4-line-height: 120%;
  --pc-subheading-4-font-size: 31px;
  --pc-subheading-4-letter-spacing: 0%;
  --pc-subheading-3-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-3-font-weight: 400;
  --pc-subheading-3-line-height: 120%;
  --pc-subheading-3-font-size: 26px;
  --pc-subheading-3-letter-spacing: 0%;
  --pc-subheading-2-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-2-font-weight: 400;
  --pc-subheading-2-line-height: 135%;
  --pc-subheading-2-font-size: 21px;
  --pc-subheading-2-letter-spacing: 0%;
  --pc-subheading-1-font-family: "Questa", Georgia, "Times New Roman", serif;
  --pc-subheading-1-font-weight: 400;
  --pc-subheading-1-line-height: 135%;
  --pc-subheading-1-font-size: 18px;
  --pc-subheading-1-letter-spacing: 0%;
  --pc-copy-strong-5-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-strong-5-font-weight: 700;
  --pc-copy-strong-5-line-height: 110%;
  --pc-copy-strong-5-font-size: 24px;
  --pc-copy-strong-5-letter-spacing: 0%;
  --pc-copy-strong-4-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-strong-4-font-weight: 700;
  --pc-copy-strong-4-line-height: 110%;
  --pc-copy-strong-4-font-size: 21px;
  --pc-copy-strong-4-letter-spacing: 0%;
  --pc-copy-strong-3-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-strong-3-font-weight: 700;
  --pc-copy-strong-3-line-height: 135%;
  --pc-copy-strong-3-font-size: 18px;
  --pc-copy-strong-3-letter-spacing: 0%;
  --pc-copy-strong-2-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-strong-2-font-weight: 700;
  --pc-copy-strong-2-line-height: 135%;
  --pc-copy-strong-2-font-size: 16px;
  --pc-copy-strong-2-letter-spacing: 0%;
  --pc-copy-strong-1-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-strong-1-font-weight: 700;
  --pc-copy-strong-1-line-height: 135%;
  --pc-copy-strong-1-font-size: 13px;
  --pc-copy-strong-1-letter-spacing: 0%;
  --pc-copy-5-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-5-font-weight: 400;
  --pc-copy-5-line-height: 110%;
  --pc-copy-5-font-size: 24px;
  --pc-copy-5-letter-spacing: 0%;
  --pc-copy-4-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-4-font-weight: 400;
  --pc-copy-4-line-height: 110%;
  --pc-copy-4-font-size: 21px;
  --pc-copy-4-letter-spacing: 0%;
  --pc-copy-3-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-3-font-weight: 400;
  --pc-copy-3-line-height: 135%;
  --pc-copy-3-font-size: 18px;
  --pc-copy-3-letter-spacing: 0%;
  --pc-copy-2-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-2-font-weight: 400;
  --pc-copy-2-line-height: 135%;
  --pc-copy-2-font-size: 16px;
  --pc-copy-2-letter-spacing: 0%;
  --pc-copy-1-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-copy-1-font-weight: 400;
  --pc-copy-1-line-height: 135%;
  --pc-copy-1-font-size: 13px;
  --pc-copy-1-letter-spacing: 0%;
  --pc-alert-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-alert-font-weight: 400;
  --pc-alert-line-height: 125%;
  --pc-alert-font-size: 15px;
  --pc-alert-letter-spacing: 0%;
  --pc-meta-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-meta-font-weight: 400;
  --pc-meta-line-height: 110%;
  --pc-meta-font-size: 11px;
  --pc-meta-letter-spacing: 0%;
  --pc-meta-strong-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-meta-strong-font-weight: 700;
  --pc-meta-strong-line-height: 110%;
  --pc-meta-strong-font-size: 11px;
  --pc-meta-strong-letter-spacing: 0%;
  --pc-strikethrough-font-family: "Foundation Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pc-strikethrough-font-weight: 400;
  --pc-strikethrough-line-height: 135%;
  --pc-strikethrough-font-size: 13px;
  --pc-strikethrough-letter-spacing: 0%;
  --pc-strikethrough-text-decoration: line-through;
}
