/* Color Tokens */
:root {
  --pc-text-primary: #2f3031;
  --pc-text-secondary: #45474a;
  --pc-text-tertiary: #6b6c70;
  --pc-text-base: #1a5962;
  --pc-text-disabled: #caccce;
  --pc-link-primary: #2f3031;
  --pc-text-success: #128a00;
  --pc-text-error: #e41a00;
  --pc-text-promotion: #d83b21;
  --pc-text-motivation: #73296d;
  --pc-text-reverse: #ffffff;
  --pc-background-default: #ffffff;
  --pc-background-tint: #f3f6f6;
  --pc-background-overlay: #0000008c;
  --pc-background-base: #1a5962;
  --pc-surface-default: #ffffff;
  --pc-surface-tint-1: #f3f6f6;
  --pc-surface-tint-2: #e1eef0;
  --pc-surface-tint-3: #f8f7f5;
  --pc-surface-base: #1a5962;
  --pc-surface-vanilla: #f4f5f5;
  --pc-surface-information: #d7eaed;
  --pc-surface-warning: #fdf9ec;
  --pc-surface-motivation: #eee7ee;
  --pc-surface-success: #f8fff4;
  --pc-surface-error: #feedeb;
  --pc-surface-skeleton-loader: #ececec;
  --pc-surface-promotion: #fcf1e3;
  --pc-border-input: #909298;
  --pc-border-container: #d3dede;
  --pc-border-divider-on-default: #d3dede;
  --pc-border-divider-on-tint: #c8d5d5;
  --pc-border-vanilla: #b5b7ba;
  --pc-border-information: #2d7e8b;
  --pc-border-success: #42af00;
  --pc-border-warning: #f2c75c;
  --pc-border-error: #e41a00;
  --pc-border-motivation: #73296d;
  --pc-base-primary: #2a7f8c;
  --pc-base-accent-one: #1a5962;
  --pc-base-accent-two: #0ab289;
  --pc-base-accent-three: #b0dac8;
  --pc-base-accent-four: #a3d060;
  --pc-base-accent-five: #d8e9bd;
  --pc-base-accent-six: #00adae;
  --pc-base-accent-seven: #95c9d0;
  --pc-base-accent-eight: #e1eef0;
  --pc-base-accent-nine: #73296d;
  --pc-base-accent-ten: #eee7ee;
  --pc-base-accent-eleven: #f3d6cd;
  --pc-base-accent-twelve: #eab264;
  --pc-base-accent-thirteen: #c6404f;
  --pc-base-accent-fourteen: #021737;
  --pc-interactive-default: #2c7a87;
  --pc-interactive-hovered: #1a5962;
  --pc-interactive-pressed: #124248;
  --pc-interactive-disabled: #cbcbcb;
  --pc-interactive-focused: #124248;
  --pc-icon-base: #2a7f8c;
  --pc-icon-primary: #2f3031;
  --pc-icon-tertiary: #6b6c70;
  --pc-icon-reverse: #ffffff;
  --pc-icon-control: #909298;
  --pc-icon-disabled: #caccce;
  --pc-icon-party-status-needs-attention: #e41a00;
  --pc-icon-party-status-coming-up: #c2bd37;
  --pc-icon-party-status-open: #2d7e8b;
  --pc-icon-party-status-unsubmitted: #f55a00;
  --pc-icon-party-status-submitted: #979798;
  --pc-avatar-consultant: #b7ce95;
  --pc-avatar-senior-consultant: #5f8fb4;
  --pc-avatar-team-leader: #e56db1;
  --pc-avatar-director: #bf0d3e;
  --pc-avatar-advanced-director: #003865;
  --pc-avatar-senior-director: #f2c75c;
  --pc-avatar-executive-director: #008c95;
  --pc-avatar-senior-executive-director: #563d82;
  --pc-avatar-national-executive-director: #00a9ce;
  --pc-icon-star-rating: #f79521;
  --pc-icon-success: #42af00;
  --pc-icon-error: #e41a00;
  --pc-icon-warning: #f2c75c;
  --pc-icon-information: #2d7e8b;
}
