/* Typography Tokens */

.pc-link {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 16px;
  letter-spacing: 0%;
  text-decoration: underline;
}

.pc-heading-5 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 54px;
  letter-spacing: 0%;
}

.pc-heading-4 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 45px;
  letter-spacing: 0%;
}

.pc-heading-3 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 37px;
  letter-spacing: 0%;
}

.pc-heading-2 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 31px;
  letter-spacing: 0%;
}

.pc-heading-1 {
  font-family: "Antonio", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 27px;
  letter-spacing: 0%;
}

.pc-subheading-strong-7 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 60px;
  letter-spacing: 0%;
}

.pc-subheading-strong-6 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 45px;
  letter-spacing: 0%;
}

.pc-subheading-strong-5 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 37px;
  letter-spacing: 0%;
}

.pc-subheading-strong-4 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 31px;
  letter-spacing: 0%;
}

.pc-subheading-strong-3 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 26px;
  letter-spacing: 0%;
}

.pc-subheading-strong-2 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-subheading-strong-1 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-subheading-6 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 45px;
  letter-spacing: 0%;
}

.pc-subheading-5 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 37px;
  letter-spacing: 0%;
}

.pc-subheading-4 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 31px;
  letter-spacing: 0%;
}

.pc-subheading-3 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 26px;
  letter-spacing: 0%;
}

.pc-subheading-2 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-subheading-1 {
  font-family: "Questa", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-copy-strong-5 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 24px;
  letter-spacing: 0%;
}

.pc-copy-strong-4 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-copy-strong-3 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-copy-strong-2 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 16px;
  letter-spacing: 0%;
}

.pc-copy-strong-1 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 135%;
  font-size: 13px;
  letter-spacing: 0%;
}

.pc-copy-5 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 24px;
  letter-spacing: 0%;
}

.pc-copy-4 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 21px;
  letter-spacing: 0%;
}

.pc-copy-3 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0%;
}

.pc-copy-2 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 16px;
  letter-spacing: 0%;
}

.pc-copy-1 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 13px;
  letter-spacing: 0%;
}

.pc-alert {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 125%;
  font-size: 15px;
  letter-spacing: 0%;
}

.pc-meta {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 11px;
  letter-spacing: 0%;
}

.pc-meta-strong {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 11px;
  letter-spacing: 0%;
}

.pc-strikethrough {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 13px;
  letter-spacing: 0%;
  text-decoration: line-through;
}

