@import "fonts";
@import "color-variables";
.pc-form-container {
    position: relative;
    .leading-icon,
    .trailing-icon {
        display: none;
        position: absolute;
        top: 10px;
        width: 25px;
        height: auto;
        cursor: default;
        color: $color-support-input-border;
        pointer-events: none;
    }
    .leading-icon {
        left: 10px;
    }
    .trailing-icon {
        right: 10px;
    }
    &.pc-has-leading-icon .leading-icon,
    &.pc-has-trailing-icon .trailing-icon {
        display: block;
    }
    &.pc-has-leading-icon .pc-form-control {
        padding-left: 40px;
        & + .pc-label {
            left: 40px;
        }
    }
    &.pc-has-trailing-icon .pc-form-control {
        padding-right: 40px;
    }
    &.pc-is-disabled .leading-icon,
    &.pc-is-disabled .trailing-icon {
        color: $color-text-04;
        cursor: not-allowed;
    }
    .pc-form-control {
        display: block;
        width: 100%;
        height: 46px;
        padding: 10px 15px;
        @extend .pc-copy-2;
        color: $color-text-01;
        background-color: $color-support-input-bg;
        border: 1px solid $color-support-input-border;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 250ms,
            -webkit-box-shadow ease-in-out 250ms;
        -o-transition: border-color ease-in-out 250ms,
            box-shadow ease-in-out 250ms;
        transition: border-color ease-in-out 250ms, box-shadow ease-in-out 250ms;
        box-sizing: border-box;
        &:focus {
            border: 2px solid $color-support-input-focus-border;
            outline-color: $color-support-input-focus-border;
        }
        &[disabled],
        &[readonly],
        fieldset[disabled] & {
            cursor: not-allowed;
            opacity: 1;
        }
        textarea#{&} {
            height: auto;
        }
        &-static {
            min-height: 34px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-bottom: 0;
        }
        & + .pc-label {
            @extend .pc-copy-2;
            margin-bottom: 0;
            color: $color-text-03;
            position: absolute;
            top: 24px;
            left: 15px;
            height: 0;
            line-height: 0;
            -webkit-transition: top 250ms, left 250ms, color 250ms,
                font-size 250ms;
            transition: top 250ms, left 250ms, color 250ms, font-size 250ms;
            cursor: text;
            pointer-events: none;
        }
        &:focus + .pc-label,
        &:not(:placeholder-shown) + .pc-label,
        & + .pc-label.has-data {
            @extend .pc-copy-1;
            color: $color-text-02;
            position: absolute;
            top: -7px;
            left: 10px;
            height: 9px;
            line-height: 18px;
            cursor: default;
            background-color: white;
            padding-left: 5px;
            padding-right: 5px;
        }
        &:focus + .pc-label {
            @extend .pc-copy-strong-1;
        }
        &[disabled] + .pc-label {
            cursor: default;
            color: $color-text-04;
        }
    }
    select.pc-form-control {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        &:disabled {
            color: $color-text-04;
        }
        option {
            padding: 10px 15px;
            &:focus {
                background-color: $color-support-input-bg;
            }
        }
    }
    &.pc-has-success .pc-form-control,
    &.pc-has-success .pc-form-control:focus,
    &.pc-has-success .pc-form-control:focus-visible {
        border-color: $color-support-success-border;
        outline-color: $color-support-success-border;
    }
    &.pc-has-warning .pc-form-control,
    &.pc-has-warning .pc-form-control:focus,
    &.pc-has-warning .pc-form-control:focus-visible {
        border-color: $color-support-warning-border;
        outline-color: $color-support-warning-border;
    }
    &.pc-has-error .pc-form-control,
    &.pc-has-error .pc-form-control:focus,
    &.pc-has-error .pc-form-control:focus-visible {
        border-color: $color-support-error-border;
        outline-color: $color-support-error-border;
    }
    &.pc-has-success .pc-form-control,
    &.pc-has-success .pc-form-control:focus + .pc-label,
    &.pc-has-success .pc-form-control:not(:placeholder-shown) + .pc-label,
    &.pc-has-success .pc-form-control + .pc-label.has-data,
    &.pc-has-success .pc-label {
        color: $color-support-success-border;
    }
    &.pc-has-warning .pc-form-control,
    &.pc-has-warning .pc-form-control:focus + .pc-label,
    &.pc-has-warning .pc-form-control:not(:placeholder-shown) + .pc-label,
    &.pc-has-warning .pc-form-control + .pc-label.has-data,
    &.pc-has-warning .pc-label {
        color: $color-support-warning-border;
    }
    &.pc-has-error .pc-form-control,
    &.pc-has-error .pc-form-control:focus + .pc-label,
    &.pc-has-error .pc-form-control:not(:placeholder-shown) + .pc-label,
    &.pc-has-error .pc-form-control + .pc-label.has-data,
    &.pc-has-error .pc-label {
        color: $color-support-error-border;
    }
}
.pc-form-control-feedback {
    @extend .pc-copy-1;
    display: block;
    padding-top: 5px;
    padding-left: 15px;
    pointer-events: none;
    color: $color-text-02;
    &.pc-has-success {
        color: $color-support-success-border;
    }
    &.pc-has-warning {
        color: $color-support-warning-border;
    }
    &.pc-has-error {
        color: $color-support-error-border;
    }
}

//Radio and Checkbox
.pc-radio,
.pc-checkbox {
    display: flex;
}

.pc-radio-inline,
.pc-checkbox-inline {
    display: inline-block;
    & + & {
        margin-top: 0;
        margin-left: 10px;
    }
}

.pc-checkbox,
.pc-checkbox-inline,
.pc-radio,
.pc-radio-inline {
    position: relative;
    column-gap: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
    accent-color: $color-interactive-pressed;
    input[type="radio"],
    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        vertical-align: middle;
        margin: 0;
        cursor: pointer;
        background: $color-ui-01;
        border: 1px solid $color-ui-11;
        &[disabled] + .pc-label,
        fieldset[disabled] & + .pc-label {
            cursor: not-allowed;
            color: $color-text-04;
        }
    }
    & .pc-label {
        flex: 1;
        min-height: 20px;
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: middle;
        @extend .pc-copy-2;
        color: $color-text-02;
    }
    &.pc-has-success .pc-label {
        color: $color-support-success-border;
    }
    &.pc-has-warning .pc-label {
        color: $color-support-warning-border;
    }
    &.pc-has-error .pc-label {
        color: $color-support-error-border;
    }
}

.pc-checkbox,
.pc-checkbox-inline {
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        outline: none;
        transition-duration: 0.3s;
        &[disabled] {
            border: 1px solid $color-ui-11;
        }
        &:checked {
            border: 1px solid $color-interactive-pressed-checkbox;
            background-color: $color-interactive;
            &[disabled] {
                border: 1px solid $color-ui-11;
                background-color: $color-text-04;
            }
        }
    }
}
.pc-radio,
.pc-radio-inline {
    input[type="radio"] {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 3px solid $color-ui-01;
        outline: 1px solid $color-text-02;
        &[disabled] {
            cursor: not-allowed;
            outline: 1px solid $color-ui-11;
        }
        &:checked {
            border-radius: 50%;
            background: $color-interactive-pressed;
            outline: 1px solid $color-interactive-pressed-checkbox;
            &[disabled] {
                cursor: not-allowed;
                outline: 1px solid $color-ui-11;
                background: $color-text-04;
            }
        }
    }
}

.pc-checkbox > input:checked + label::before,
.pc-checkbox-inline > input:checked + label::before {
    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="check"><path id="Vector" d="M8.75012 14.1275L5.62262 11L4.55762 12.0575L8.75012 16.25L17.7501 7.25L16.6926 6.1925L8.75012 14.1275Z" fill="white"/></g></svg>');
    display: block;
    text-align: center;
    position: absolute;
    left: -1px;
    top: -1px;
}
.pc-checkbox > input:active,
.pc-checkbox-inline > input:active {
    border: 2px solid $color-interactive-pressed-checkbox;
}
