.pc-spinner {
    position: relative;
    &::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9999;
    }
    &::after {
        content: "";
        border: 6px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        border-top: 6px solid #124248;
        width: 30px;
        height: 30px;
        -webkit-animation: pcspin 750ms linear infinite;
        animation: pcspin 750ms linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 9999;
    }
    @-webkit-keyframes pcspin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes pcspin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

//Skeleton Loader
.pc-skeleton-xs,
.pc-skeleton-sm,
.pc-skeleton-md,
.pc-skeleton-lg,
.pc-skeleton-xl,
.pc-skeleton-xx,
.pc-skeleton {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background: #ececec no-repeat;
    border-radius: 5px;
    display: inline-block;
    will-change: transform;
    transform: translate(0);
    &:before {
        -webkit-animation: skeletonprog 3s ease-in-out infinite;
        animation: skeletonprog 3s ease-in-out infinite;
        background-size: 200px 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        content: "";
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0)
        );
        box-sizing: border-box;
        transition-timing-function: ease-in-out;
    }
}
.pc-skeleton-xs {
    height: 15px;
}
.pc-skeleton-sm {
    height: 25px;
}
.pc-skeleton-md {
    height: 35px;
}
.pc-skeleton-lg {
    height: 45px;
}
.pc-skeleton-xl {
    height: 55px;
}
.pc-skeleton-xx {
    height: 65px;
}
@media (prefers-reduced-motion: reduce) {
    .pc-skeleton-xs,
    .pc-skeleton-sm,
    .pc-skeleton-md,
    .pc-skeleton-lg,
    .pc-skeleton-xl,
    .pc-skeleton-xx,
    .pc-skeleton {
        -webkit-animation: none;
        animation: none;
        background-image: none;
    }
}
@-webkit-keyframes skeletonprog {
    0% {
        transform: translate(-200px);
    }
    33% {
        transform: translate(-200px);
    }
    100% {
        transform: translate(calc(200px + 100vw));
    }
}
@keyframes skeletonprog {
    0% {
        transform: translate(-200px);
    }
    33% {
        transform: translate(-200px);
    }
    100% {
        transform: translate(calc(100px + 100vw));
    }
}
