@import "color-variables";
@import "font-mixins";
@import "breakpoint-variables";
/* progress bar */
.pc-progress {
    .pc-progress-visual {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pc-progress-step-pending,
    .pc-progress-step-current,
    .pc-progress-step-complete {
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 24px;
    }
    .pc-progress-step-pending {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_246)'%3E%3Ccircle cx='16' cy='16' r='11.5' stroke='%23CBCBCB' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_246'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    .pc-progress-step-current {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_246)'%3E%3Ccircle cx='16' cy='16' r='11.5' stroke='%233597A6' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_246'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    .pc-progress-step-complete {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_242)'%3E%3Cpath d='M16 3C8.824 3 3 8.824 3 16C3 23.176 8.824 29 16 29C23.176 29 29 23.176 29 16C29 8.824 23.176 3 16 3ZM13.4 22.5L6.9 16L8.733 14.167L13.4 18.821L23.267 8.954L25.1 10.8L13.4 22.5Z' fill='%233597A6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_242'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .pc-progress-line-pending,
    .pc-progress-line-complete {
        width: 50%;
        display: block;
        margin: 16px -22px;
        flex: 1;
    }
    .pc-progress-line-pending {
        border-bottom: 3px solid $color-text-04;
    }
    .pc-progress-line-complete {
        border-bottom: 3px solid $color-interactive-focused;
    }
    .pc-progress-key {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pc-progress-text-complete,
    .pc-progress-text-current,
    .pc-progress-text-pending {
        @include FoundationSans();
        font-size: 10px;
        line-height: 110%;
        text-align: center;
        width: 80px;
    }
    .pc-progress-text-complete,
    .pc-progress-text-current {
        color: $color-text-01;
    }
    .pc-progress-text-pending {
        color: $color-text-04;
    }
}
/* progress header and footer */
.pc-progress-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 10px;
    .pc-progress-header-left {
        flex: auto;
    }
    .pc-progress-header-right {
    }
}
.pc-progress-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    .pc-progress-footer-segment {
        text-align: right;
        padding-left: 5px;
    }
}

/* tier rounding/height formatting */
@mixin tierRounding {
    border-radius: 8px;
    height: 10px;
}
/* single tier bar */
.pc-single-tier-bar {
    background: $color-interactive-focused-background;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    @include tierRounding();
    width: 100%;
    .pc-single-tier-full {
        background: $color-interactive-focused;
        @include tierRounding();
    }
}
/* multi tier bar */
.pc-multi-tier-bar {
    display: flex;
    width: 100%;
    @include tierRounding();
    .pc-multi-tier-bar-segment {
        background: $color-interactive-focused-background;
        background: radial-gradient(
            8px 100% at left,
            transparent 50%,
            $color-interactive-focused-background 51%
        );
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
        display: inline-block;
        position: relative;
        @include tierRounding();
        .pc-multi-tier-bar-full {
            background: $color-interactive-focused;
            background: radial-gradient(
                8px 100% at left,
                transparent 50%,
                $color-interactive-focused 51%
            );
            @include tierRounding();
        }
    }
    .pc-multi-tier-bar-segment:first-of-type {
        background: $color-interactive-focused-background;
        display: inline-block;
        @include tierRounding();
        .pc-multi-tier-bar-full {
            background: $color-interactive-focused;
            @include tierRounding();
        }
    }
}
/* checkmark iconography */
.pc-single-tier-full[style*="width:100%"]:after,
.pc-single-tier-full[style*="width: 100%"]:after,
.pc-single-tier-full[width*="100%"]:after,
.pc-multi-tier-bar-full[style*="width:100%"]:after,
.pc-multi-tier-bar-full[style*="width: 100%"]:after,
.pc-multi-tier-bar-full[width*="100%"]:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6576_7128)'%3E%3Cpath d='M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z' fill='white'/%3E%3Cpath d='M11.0005 2.53857C6.32979 2.53857 2.53906 6.3293 2.53906 11C2.53906 15.6708 6.32979 19.4614 11.0005 19.4614C15.6712 19.4614 19.462 15.6708 19.462 11C19.462 6.3293 15.6712 2.53857 11.0005 2.53857ZM9.30821 15.2308L5.07749 11L6.27056 9.80692L9.30821 12.8361L15.7304 6.41392L16.9235 7.61544L9.30821 15.2308Z' fill='%2342AF00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6576_7128'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 22px;
    height: 22px;
    position: absolute;
    right: -6px;
    top: -6px;
    z-index: 1;
}

/* animation keyframes */
.pc-progress-animate {
    -moz-animation: pc-animate-bar 1.25s 1 linear;
    -webkit-animation: pc-animate-bar 1.25s 1 linear;
    -ms-animation: pc-animate-bar 1.25s 1 linear;
    -o-animation: pc-animate-bar 1.25s 1 linear;
    animation: pc-animate-bar 1.25s 1 linear;
}
@-moz-keyframes pc-animate-bar {
    0% {
        width: 0;
    }
}
@-webkit-keyframes pc-animate-bar {
    0% {
        width: 0;
    }
}
@-ms-keyframes pc-animate-bar {
    0% {
        width: 0;
    }
}
@-o-keyframes pc-animate-bar {
    0% {
        width: 0;
    }
}
@keyframes pc-animate-bar {
    0% {
        width: 0;
    }
}

/* Progress Ring */
.pc-progress-ring-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    position: relative;
    text-align: center;
}
.pc-progress-ring {
    transform: rotate(-90deg);
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
}
.pc-ring-base {
    fill: none;
    stroke: $color-interactive-focused-background;
    stroke-width: 10;
}
.pc-ring-complete {
    --val: 0;
    stroke-dasharray: 100;
    stroke-dashoffset: calc(100 - var(--val));
    fill: none;
    stroke: $color-interactive-focused;
    stroke-width: 10;
    transition: stroke-dashoffset 0.35s;
    transition-delay: 500ms;
    stroke-linecap: round;
}
