.spacer-mini {
    margin-bottom: 2px;
}
.spacer-xs {
    margin-bottom: 5px;
}
.spacer-sm {
    margin-bottom: 10px;
}
.spacer-md {
    margin-bottom: 15px;
}
.spacer-lg {
    margin-bottom: 20px;
}
.spacer-xl {
    margin-bottom: 25px;
}
.spacer-xx {
    margin-bottom: 30px;
}
.spacer-max {
    margin-bottom: 40px;
}
